@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto' , sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 100vh;
    justify-content: center;
}

.card {
    flex: 1;
    margin: 1rem;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: flex 1s ease-in;
}

.card h3 {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    text-align: center;
}

#card1 {
    background: url('https://images.unsplash.com/photo-1570396041540-e2bb67aa96c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1080&q=80') no-repeat center center/cover;
}
#card2 {
    background: url('https://images.unsplash.com/photo-1545851876-eb2bbc712ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1080&q=80') no-repeat center center/cover;
}
#card3 {
    background: url('https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1080&q=80') no-repeat center center/cover;
}
#card4 {
    background: url('https://images.unsplash.com/photo-1505322022379-7c3353ee6291?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1080&q=80') no-repeat center center/cover;
}
#card5 {
    background: url('https://images.unsplash.com/photo-1464852045489-bccb7d17fe39?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1080&q=80') no-repeat center center/cover;
}

.active {
    flex: 5;
}
.card.active h3 {
    transition: opacity 1s 1s ease-in;
    opacity: 1;
}

@media(max-width: 500px) {
    .container {
        width: 100vw;
    }

    .card:nth-child(4),.card:nth-child(5) {
        display: none;
    } 
}